{{#if context.siteSettings.rating_topic_list_average_enabled}}
  {{#if context.topic.show_average}}
    {{#if context.topic.has_ratings}}
      <div class="topic-rating">
        <a href='{{context.topic.url}}'>
          {{star-rating-raw context.topic.average_rating clickable='true'}}
          {{#if context.siteSettings.rating_show_exact_average}}
            <span class="exact-rating">
              ({{context.topic.average_rating}})
            </span>
          {{/if}}
          {{#if context.siteSettings.rating_show_count}}
            <span class="rating-count">
              {{context.topic.rating_count}}
              {{i18n 'topic.x_rating_count' count=context.topic.rating_count}}
            </span>
          {{/if}}
        </a>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
