<h3>{{title}}</h3>

{{#if loading}}
  {{loading-spinner}}
{{else}}
  {{#if hasObjects}}
    <table>
      <thead>
        <tr>
          <th>{{nameLabel}}</th>
          <th>{{i18n "admin.ratings.type.title"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each objects as |object|}}
          {{rating-object
            object=object
            objects=objects
            objectType=objectType
            ratingTypes=ratingTypes
            addObject=(action "addObject")
            updateObject=(action "updateObject")
            destroyObject=(action "destroyObject")
          }}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{noneLabel}}
  {{/if}}
{{/if}}

<div class="admin-ratings-list-controls">
  {{d-button
    action=(action "newObject")
    label="admin.ratings.type.new"
    icon="plus"
  }}
</div>