<td>
  {{#if object.isNew}}
    {{#if isCategory}}
      {{category-chooser value=category.id onChange=(action "updateCategory")}}
    {{/if}}
    {{#if isTag}}
      {{tag-chooser
        tags=tag
        everyTag=true
        excludeSynonyms=true
        maximum=1
        onChange=(action "updateTag")
        options=(hash none="select_kit.default_header_text")
      }}
    {{/if}}
  {{else}}
    {{#if isCategory}}
      {{category-badge category}}
    {{/if}}
    {{#if isTag}}
      {{discourse-tag tag}}
    {{/if}}
  {{/if}}
</td>

<td>
  {{multi-select
    value=object.types
    content=ratingTypes
    valueProperty="type"
    onChange=(action (mut object.types))
  }}
</td>

<td class="type-controls">
  {{#if object.isNew}}
    {{d-button
      class="btn-primary"
      action=addObject
      actionParam=object
      label="admin.ratings.type.add"
      icon="plus"
      disabled=saveDisabled
    }}
  {{else}}
    {{d-button
      class="btn-primary"
      action=updateObject
      actionParam=object
      label="admin.ratings.type.update"
      icon="save"
      disabled=saveDisabled
    }}
  {{/if}}

  {{d-button action=destroyObject actionParam=object icon="times"}}
</td>

{{#if error}}
  <span class="error">{{error}}</span>
{{/if}}