{{input type="checkbox" checked=rating.include}}

<span>
  {{#if typeName}}
    {{typeName}}
  {{else}}
    {{i18n 'composer.your_rating'}}
  {{/if}}
</span>

{{star-rating
  enabled=rating.include
  rating=rating.value
  click=(action 'updateRating')}}
