{{#if showIncludeRating}}
  {{input type="checkbox" checked=includeRating}}
{{/if}}

<span>
  {{#if typeName}}
    {{typeName}}
  {{else}}
    {{i18n 'composer.your_rating'}}
  {{/if}}
</span>

{{#if includeRating}}
  {{star-rating
    enabled=includeRating
    rating=rating
    click=(action 'updateRating' rating)}}
{{/if}}
