<h3>{{i18n 'category.ratings.heading'}}</h3>

<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.rating_enabled}}
    {{i18n 'category.ratings.enabled'}}
  </label>
</section>

<section class='field'>
  <label>{{i18n 'category.ratings.types'}}</label>
  {{rating-type-chooser
    valueProperty="slug"
    types=category.custom_fields.rating_types
    content=site.rating_types}}
</section>
