<div class="types admin-ratings-list">
  <h3>{{i18n "admin.ratings.type.title"}}</h3>

  {{#if this.hasTypes}}
    <table>
      <thead>
        <tr>
          <th>{{i18n "admin.ratings.type.label"}}</th>
          <th>{{i18n "admin.ratings.type.name"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.ratingTypes as |type|}}
          {{rating-type
            addType=(action "addType")
            updateType=(action "updateType")
            destroyType=(action "destroyType")
            type=type
          }}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{i18n "admin.ratings.type.none"}}
  {{/if}}

  <div class="admin-ratings-list-controls">
    {{d-button
      action=(action "newType")
      label="admin.ratings.type.new"
      icon="plus"
    }}
  </div>
</div>

{{rating-object-list
  objectType="category"
  objects=this.categoryTypes
  ratingTypes=this.ratingTypes
  refresh=(route-action "refresh")
}}

{{rating-object-list
  objectType="tag"
  objects=this.tagTypes
  ratingTypes=this.ratingTypes
  refresh=(route-action "refresh")
}}

{{rating-actions ratingTypes=this.ratingTypes}}