{{#if siteSettings.rating_topic_average_enabled}}
  <div class="average-rating">
    {{#if model.rating_enabled}}
      {{#if model.has_ratings}}
      {{#each model.ratings as |rating|}}
        <div class="rating-section">
          <span>{{rating.name}}</span>
          {{star-rating-raw rating.average_rating}}
          {{#if siteSettings.rating_show_exact_average}}
            <span class="exact-rating">
              ({{rating.average_rating}})
            </span>
          {{/if}}
          {{#if siteSettings.rating_show_count}}
            <span class="rating-count">
              {{rating.rating_count}}
              {{i18n 'topic.x_rating_count' count=model.rating_count}}
            </span>
          {{/if}}
        </div>
      {{/each}}

      {{else}}
        {{i18n 'topic.no_ratings'}}
      {{/if}}
    {{else}}
      {{#if model.average_rating}}
        {{#if currentUser.admin}}
          <span class="exact-rating">{{i18n "topic.hidden_ratings"}}</span>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
{{#if model.showRatingTip}}
  {{topic-tip details='topic.tip.ratings.details'}}
{{/if}}
