<h3>{{this.title}}</h3>

{{#if this.loading}}
  {{loading-spinner}}
{{else}}
  {{#if this.hasObjects}}
    <table>
      <thead>
        <tr>
          <th>{{this.nameLabel}}</th>
          <th>{{i18n "admin.ratings.type.title"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.objects as |object|}}
          {{rating-object
            object=object
            objects=this.objects
            objectType=this.objectType
            ratingTypes=this.ratingTypes
            addObject=(action "addObject")
            updateObject=(action "updateObject")
            destroyObject=(action "destroyObject")
          }}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{this.noneLabel}}
  {{/if}}
{{/if}}

<div class="admin-ratings-list-controls">
  {{d-button
    action=(action "newObject")
    label="admin.ratings.type.new"
    icon="plus"
  }}
</div>