<% if @topic_view.topic.ratings.present? %>
  <div itemscope itemtype="http://schema.org/CreativeWorkSeries">
    <span itemprop="name"><%= @topic_view.topic.title %></span>
    <% if @topic_view.topic.image_url.present? %>
      <span itemprop="image"><%= @topic_view.topic.image_url %></span>
    <% end %>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <% @topic_view.topic.ratings.each do |rating| %>
      <span itemprop="reviewAspect"><%= rating.type %></span>
      <span itemprop="ratingValue"><%= rating.value %></span>
      <span itemprop="ratingCount"><%= rating.count %></span>
      <meta itemprop="bestRating" content="5"/>
      <meta itemprop="worstRating" content="1"/>
    <% end %>
    </div>
  </div>
<% end %>
